@model Participant

<div class="container-md">

    <form asp-action="Register" method="post">

        @if (!ViewData.ModelState.IsValid)
        {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
        }

        <div class="form-group">
            <label class="form-label">İsim</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>

        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email">
        </div>
        <div class="form-group">
            <label class="form-label">Telefon Numarası</label>
            <input type="text" class="form-control" asp-for="PhoneNumber">
        </div>



        <input type="submit" value="Başvuruyu tamamla" class="btn btn-primary mt-3">

    </form>





</div>